h3{
    font-family: "oldStadardTT";
    font-weight: 1000;
    text-align: center;

}
.col-sm-3{
    background-color: aqua;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

.form-control{
    -webkit-border-radius: 100;
       -moz-border-radius: 100;
            border-radius: 010;
}

#Rina{
    height: 145px; 
    object-fit: cover;
    object-position: 100% 17%;
}

ul{
    list-style: none;
    text-indent: -25px;
}

#texto_columnas{
  text-align: justify;
  text-justify: inter-word;
}